@model List<ApplicationUser>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="coll-12 text-center">
                <h2 class="py-2">Użytkownicy</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">        
        <table class="table table-bordered table-striped bg-light">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Rola
                    </th>
                    
                    <th style="width: 200px"

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.UserName))
                {
                    <tr>
                        <td>
                            @obj.UserName
                        </td>   
                        <td>
                            @obj.Role
                        </td> 
                        <td>
                            <div class="text-end"  role="group">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-2">
                                    Edit
                                </a>                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


