<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteka.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-expand-lg bg-gradient border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblioteka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-action="Index">Strona Główna</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Customer))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="Customer" asp-controller="UserAccount" asp-action="Index">Moje książki</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Employee))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Zarządzaj
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Employee" asp-controller="Category" asp-action="Index">Kategorie</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Employee" asp-controller="Book" asp-action="Index">Książki</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="Employee" asp-controller="BookManager" asp-action="Index">Aktywne wypożyczenia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Employee" asp-controller="Pdf" asp-action="GeneratePdf">Wygeneruj raport <i style="font-size: 15px;" class="bi bi-box-arrow-up-right"></i></a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="Admin" asp-controller="UserManager" asp-action="Index">Użytkownicy</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer navbar-expand-lg bg-gradient">
        <div class="container text-center text-light">
            <a><i class="bi bi-bank2"></i> Biblioteka by Olaf Durmaj <i class="bi bi-bank2"></i></a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        /* Tło dla całej strony */
        body {
            background: url('/images/Background.jpg') no-repeat center center fixed !important;
            background-size: cover !important;
            margin: 0 !important;
        }

        /* Styl dla nagłówka i stopki */
        .navbar.bg-gradient,
        footer.bg-gradient {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Delikatny cień */
        }

        /* Cienie dla kart */
        .card {
            background-color: white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        /* Gradient dla paska nawigacyjnego */
        .navbar.bg-gradient {
            background: linear-gradient(90deg, #3b5998, #8b9dc3) !important;
            color: white;
        }

            /* Tekst w pasku nawigacyjnym */
            .navbar.bg-gradient .navbar-brand,
            .navbar.bg-gradient .nav-link {
                color: white !important;
            }

                .navbar.bg-gradient .nav-link:hover {
                    text-decoration: underline;
                    color: #dfe3ee !important;
                }

        /* Styl rozwijanego menu */
        .dropdown-menu {
            background: linear-gradient(90deg, #3b5998, #8b9dc3) !important;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

            .dropdown-menu .nav-link {
                color: white !important;
            }

                .dropdown-menu .nav-link:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 8px;
                    color: #dfe3ee !important;
                }

        /* Gradient dla stopki */
        footer.bg-gradient {
            background: linear-gradient(90deg, #3b5998, #8b9dc3) !important;
            color: white;
        }

            footer.bg-gradient a {
                color: white;
                text-decoration: none;
            }

                footer.bg-gradient a:hover {
                    text-decoration: underline;
                    color: #dfe3ee;
                }
    </style>
</body>
</html>
