@model List<Category>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="coll-12 text-center">
                <h2 class="py-2">Lista kategorii</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="text-end">
                <a asp-controller="Category" asp-action="Create" class="btn  btn-outline-dark">
                     Dodaj kategorię
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped bg-light">
            <thead>
                <tr>
                    <th>
                        Catrgory Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th style="width: 200px"

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Name))
                {
                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @obj.Description
                        </td>
                        <td>
                            <div class="row text-end"  role="group">
                                <div class="col-md-6">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary mx-2">
                                    Edytuj
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger mx-2 delete-btn">
                                        Usuń
                                    </a>
                                </div>
                                
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


